.login-wrap {
    width: 300px;
}

.attr-wrap {
    height: 75px;
}

.attr-wrap>label {
    float: left;
    margin-top: 10px;
}

#email, #pw {
    border: none;
    border-radius: 3px;
    padding: 10px;
    margin-top: 10px;
    width: calc(100% - 20px);
}

.msg {
    display: none;
    float: left;
    height: 0;
    font-size: 10px;
    color: yellow;
}

#login-btn {
    margin-top: 20px;
    width: 100%;
    padding: 10px;
}